HGInetFacturaEServicios/Service References/ServicioResolucion/resolucion41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResolucion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resolucion" nillable="true" type="tns:Resolucion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResolucion" nillable="true" type="tns:ArrayOfResolucion" />
  <xs:complexType name="Resolucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaveTecnica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaResolucion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVigenciaFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVigenciaInicial" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroResolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prefijo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangoFinal" type="xs:int" />
      <xs:element minOccurs="0" name="RangoInicial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resolucion" nillable="true" type="tns:Resolucion" />
</xs:schema>