HGInetFacturaEServicios/Service References/ServicioEmpresas/empresas1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="HGInetFacturaElectronica.ServiciosWcf" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="HGInetFacturaElectronica.ServiciosWcf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="HGInetFacturaElectronica.ServiciosWcf/Imports">
      <xsd:import schemaLocation="http://localhost:8089/wcf/empresas.svc?xsd=xsd0" namespace="HGInetFacturaElectronica.ServiciosWcf" />
      <xsd:import schemaLocation="http://localhost:8089/wcf/empresas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8089/wcf/empresas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" />
      <xsd:import schemaLocation="http://localhost:8089/wcf/empresas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServicioEmpresas_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ServicioEmpresas_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioEmpresas_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="ServicioEmpresas_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioEmpresas_Obtener_Error_FaultMessage">
    <wsdl:part name="detail" element="tns:Error" />
  </wsdl:message>
  <wsdl:portType name="ServicioEmpresas">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioEmpresas/Test" message="tns:ServicioEmpresas_Test_InputMessage" />
      <wsdl:output wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioEmpresas/TestResponse" message="tns:ServicioEmpresas_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioEmpresas/Obtener" message="tns:ServicioEmpresas_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioEmpresas/ObtenerResponse" message="tns:ServicioEmpresas_Obtener_OutputMessage" />
      <wsdl:fault wsaw:Action="Obtener" name="Error" message="tns:ServicioEmpresas_Obtener_Error_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>