HGInetFacturaEServicios/Service References/ServicioDocumento/documentos43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://habilitacion.mifacturaenlinea.com.co/wcf/documentos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" />
  <xs:complexType name="ArrayOfDocumentoRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoRespuesta" nillable="true" type="tns:DocumentoRespuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoRespuesta" nillable="true" type="tns:ArrayOfDocumentoRespuesta" />
  <xs:complexType name="DocumentoRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aceptacion" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionProceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" minOccurs="0" name="Error" nillable="true" type="q1:Error" />
      <xs:element minOccurs="0" name="FechaRecepcion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaUltimoProceso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProceso" type="xs:int" />
      <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroResolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prefijo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcesoFinalizado" type="xs:int" />
      <xs:element minOccurs="0" name="UrlPdf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlXmlUbl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoRespuesta" nillable="true" type="tns:DocumentoRespuesta" />
  <xs:complexType name="ArrayOfDocumentoArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentoArchivo" nillable="true" type="tns:DocumentoArchivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentoArchivo" nillable="true" type="tns:ArrayOfDocumentoArchivo" />
  <xs:complexType name="DocumentoArchivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoXmlUbl" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CodigoRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentoArchivo" nillable="true" type="tns:DocumentoArchivo" />
</xs:schema>