HGInetFacturaEServicios/Service References/ServicioDocumento/documentos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="HGInetFacturaElectronica.ServiciosWcf" elementFormDefault="qualified" targetNamespace="HGInetFacturaElectronica.ServiciosWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.251:8887/wcf/documentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" />
  <xs:import schemaLocation="http://192.168.0.251:8887/wcf/documentos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPorNumeros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoDocumento" type="xs:int" />
        <xs:element minOccurs="0" name="Numeros" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPorNumerosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" minOccurs="0" name="ConsultaPorNumerosResult" nillable="true" type="q1:ArrayOfDocumentoRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" name="Error" nillable="true" type="q2:Error" />
  <xs:element name="ConsultaPorCodigoRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoDocumento" type="xs:int" />
        <xs:element minOccurs="0" name="CodigosRegistros" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPorCodigoRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" minOccurs="0" name="ConsultaPorCodigoRegistroResult" nillable="true" type="q3:ArrayOfDocumentoRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPorFechaElaboracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoDocumento" type="xs:int" />
        <xs:element minOccurs="0" name="FechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPorFechaElaboracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" minOccurs="0" name="ConsultaPorFechaElaboracionResult" nillable="true" type="q4:ArrayOfDocumentoRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" minOccurs="0" name="documentos" nillable="true" type="q5:ArrayOfDocumentoArchivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" minOccurs="0" name="RecepcionResult" nillable="true" type="q6:ArrayOfDocumentoRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>