HGInetZonaPagos/Service References/ZonaVirtualServicioVerfica/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.zonapagos.com/ws_verificar_pagos" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.zonapagos.com/ws_verificar_pagos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.zonapagos.com/ws_verificar_pagos">
      <s:element name="ds_verificar_pago">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_pago" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_tienda" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="id_clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_verificar_pagoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds_verificar_pagoResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ds_verificar_pago">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="ds_verificar_pago_v2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id_pago" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_tienda" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="id_clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_verificar_pago_v2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds_verificar_pago_v2Result" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificar_pago_v3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str_id_pago" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="int_id_tienda" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="str_id_clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="res_pagos_v3" type="tns:ArrayOfPagos_v3" />
            <s:element minOccurs="1" maxOccurs="1" name="int_error" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="str_error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPagos_v3">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="pagos_v3" nillable="true" type="tns:pagos_v3" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="pagos_v3">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="str_id_pago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="int_estado_pago" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="int_id_forma_pago" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dbl_valor_pagado" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="str_ticketID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="str_id_clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="str_id_cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="str_franquicia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="int_cod_aprobacion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="int_codigo_servico" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="int_codigo_banco" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="str_nombre_banco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="str_codigo_transaccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="int_ciclo_transaccion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="str_campo1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="str_campo2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="str_campo3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dat_fecha" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="verificar_pago_v3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verificar_pago_v3Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="res_pagos_v3" type="tns:ArrayOfPagos_v3" />
            <s:element minOccurs="1" maxOccurs="1" name="int_error" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="str_error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ds_verificar_pagoSoapIn">
    <wsdl:part name="parameters" element="tns:ds_verificar_pago" />
  </wsdl:message>
  <wsdl:message name="ds_verificar_pagoSoapOut">
    <wsdl:part name="parameters" element="tns:ds_verificar_pagoResponse" />
  </wsdl:message>
  <wsdl:message name="ds_verificar_pago_v2SoapIn">
    <wsdl:part name="parameters" element="tns:ds_verificar_pago_v2" />
  </wsdl:message>
  <wsdl:message name="ds_verificar_pago_v2SoapOut">
    <wsdl:part name="parameters" element="tns:ds_verificar_pago_v2Response" />
  </wsdl:message>
  <wsdl:message name="verificar_pago_v3SoapIn">
    <wsdl:part name="parameters" element="tns:verificar_pago_v3" />
  </wsdl:message>
  <wsdl:message name="verificar_pago_v3SoapOut">
    <wsdl:part name="parameters" element="tns:verificar_pago_v3Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ds_verificar_pago">
      <wsdl:input message="tns:ds_verificar_pagoSoapIn" />
      <wsdl:output message="tns:ds_verificar_pagoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ds_verificar_pago_v2">
      <wsdl:input message="tns:ds_verificar_pago_v2SoapIn" />
      <wsdl:output message="tns:ds_verificar_pago_v2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificar_pago_v3">
      <wsdl:input message="tns:verificar_pago_v3SoapIn" />
      <wsdl:output message="tns:verificar_pago_v3SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ds_verificar_pago">
      <soap:operation soapAction="http://www.zonapagos.com/ws_verificar_pagos/ds_verificar_pago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_verificar_pago_v2">
      <soap:operation soapAction="http://www.zonapagos.com/ws_verificar_pagos/ds_verificar_pago_v2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificar_pago_v3">
      <soap:operation soapAction="http://www.zonapagos.com/ws_verificar_pagos/verificar_pago_v3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ds_verificar_pago">
      <soap12:operation soapAction="http://www.zonapagos.com/ws_verificar_pagos/ds_verificar_pago" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ds_verificar_pago_v2">
      <soap12:operation soapAction="http://www.zonapagos.com/ws_verificar_pagos/ds_verificar_pago_v2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificar_pago_v3">
      <soap12:operation soapAction="http://www.zonapagos.com/ws_verificar_pagos/verificar_pago_v3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://www.zonapagos.com/ws_verificar_pagos/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://www.zonapagos.com/ws_verificar_pagos/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>