HGInetFacturaEServicios/Service References/ServicioNotaCredito/notacredito51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio.Documentos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio.Documentos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAnticipo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anticipo" nillable="true" type="tns:Anticipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnticipo" nillable="true" type="tns:ArrayOfAnticipo" />
  <xs:complexType name="Anticipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anticipo" nillable="true" type="tns:Anticipo" />
  <xs:complexType name="ArrayOfCargo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cargo" nillable="true" type="tns:Cargo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargo" nillable="true" type="tns:ArrayOfCargo" />
  <xs:complexType name="Cargo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcentaje" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cargo" nillable="true" type="tns:Cargo" />
  <xs:complexType name="ArrayOfDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Descuento" nillable="true" type="tns:Descuento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDescuento" nillable="true" type="tns:ArrayOfDescuento" />
  <xs:complexType name="Descuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcentaje" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Descuento" nillable="true" type="tns:Descuento" />
  <xs:complexType name="ArrayOfReferenciaAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferenciaAdicional" nillable="true" type="tns:ReferenciaAdicional" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferenciaAdicional" nillable="true" type="tns:ArrayOfReferenciaAdicional" />
  <xs:complexType name="ReferenciaAdicional">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaReferencia" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenciaAdicional" nillable="true" type="tns:ReferenciaAdicional" />
</xs:schema>