HGInetFeAPI/Service References/ServicioRutasPlataforma/facturae1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="FacturaE.ServiciosWcf" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="FacturaE.ServiciosWcf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="FacturaE.ServiciosWcf/Imports">
      <xsd:import schemaLocation="https://cloudservices.hginet.co/Wcf/facturae.svc?xsd=xsd0" namespace="FacturaE.ServiciosWcf" />
      <xsd:import schemaLocation="https://cloudservices.hginet.co/Wcf/facturae.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://cloudservices.hginet.co/Wcf/facturae.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServicioFacturaE_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ServicioFacturaE_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioFacturaE_ObtenerServidorFE_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerServidorFE" />
  </wsdl:message>
  <wsdl:message name="ServicioFacturaE_ObtenerServidorFE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerServidorFEResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioFacturaE_ObtenerServidorFE_Error_FaultMessage">
    <wsdl:part name="detail" element="tns:Error" />
  </wsdl:message>
  <wsdl:portType name="ServicioFacturaE">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="FacturaE.ServiciosWcf/ServicioFacturaE/Test" message="tns:ServicioFacturaE_Test_InputMessage" />
      <wsdl:output wsaw:Action="FacturaE.ServiciosWcf/ServicioFacturaE/TestResponse" message="tns:ServicioFacturaE_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerServidorFE">
      <wsdl:input wsaw:Action="FacturaE.ServiciosWcf/ServicioFacturaE/ObtenerServidorFE" message="tns:ServicioFacturaE_ObtenerServidorFE_InputMessage" />
      <wsdl:output wsaw:Action="FacturaE.ServiciosWcf/ServicioFacturaE/ObtenerServidorFEResponse" message="tns:ServicioFacturaE_ObtenerServidorFE_OutputMessage" />
      <wsdl:fault wsaw:Action="ObtenerServidorFE" name="Error" message="tns:ServicioFacturaE_ObtenerServidorFE_Error_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>