HGInetFacturaEServicios/Service References/ServicioFactura/factura42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="HGInetFacturaElectronica.ServiciosWcf" elementFormDefault="qualified" targetNamespace="HGInetFacturaElectronica.ServiciosWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://habilitacion.mifacturaenlinea.com.co/wcf/factura.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" />
  <xs:import schemaLocation="http://habilitacion.mifacturaenlinea.com.co/wcf/factura.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" minOccurs="0" name="documentos" nillable="true" type="q1:ArrayOfFactura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" minOccurs="0" name="RecepcionResult" nillable="true" type="q2:ArrayOfDocumentoRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" name="Error" nillable="true" type="q3:Error" />
</xs:schema>