HGInetFeAPI/Service References/ServicioListaFe/listaFe4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListaFE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaFE" nillable="true" type="tns:ListaFE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaFE" nillable="true" type="tns:ArrayOfListaFE" />
  <xs:complexType name="ListaFE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoLista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionLista" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaFE" nillable="true" type="tns:ListaFE" />
</xs:schema>