HGInetFeAPI/Service References/ServicioAjusteNomina/ajustenomina.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="HGInetFacturaElectronica.ServiciosWcf" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="HGInetFacturaElectronica.ServiciosWcf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="HGInetFacturaElectronica.ServiciosWcf/Imports">
      <xsd:import schemaLocation="https://habilitacion.mifacturaenlinea.com.co/wcf/ajustenomina.svc?xsd=xsd0" namespace="HGInetFacturaElectronica.ServiciosWcf" />
      <xsd:import schemaLocation="https://habilitacion.mifacturaenlinea.com.co/wcf/ajustenomina.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://habilitacion.mifacturaenlinea.com.co/wcf/ajustenomina.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" />
      <xsd:import schemaLocation="https://habilitacion.mifacturaenlinea.com.co/wcf/ajustenomina.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://habilitacion.mifacturaenlinea.com.co/wcf/ajustenomina.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServicioAjusteNomina_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ServicioAjusteNomina_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioAjusteNomina_Recepcion_InputMessage">
    <wsdl:part name="parameters" element="tns:Recepcion" />
  </wsdl:message>
  <wsdl:message name="ServicioAjusteNomina_Recepcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecepcionResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioAjusteNomina_Recepcion_Error_FaultMessage">
    <wsdl:part name="detail" element="tns:Error" />
  </wsdl:message>
  <wsdl:portType name="ServicioAjusteNomina">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioAjusteNomina/Test" message="tns:ServicioAjusteNomina_Test_InputMessage" />
      <wsdl:output wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioAjusteNomina/TestResponse" message="tns:ServicioAjusteNomina_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Recepcion">
      <wsdl:input wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioAjusteNomina/Recepcion" message="tns:ServicioAjusteNomina_Recepcion_InputMessage" />
      <wsdl:output wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioAjusteNomina/RecepcionResponse" message="tns:ServicioAjusteNomina_Recepcion_OutputMessage" />
      <wsdl:fault wsaw:Action="Recepcion" name="Error" message="tns:ServicioAjusteNomina_Recepcion_Error_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>