HGInetFeAPI/Service References/ServicioPagosElectronicos/pagoselectronicos21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="HGInetFacturaElectronica.ServiciosWcf" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="HGInetFacturaElectronica.ServiciosWcf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="HGInetFacturaElectronica.ServiciosWcf/Imports">
      <xsd:import schemaLocation="https://habilitacion.mifacturaenlinea.com.co/wcf/pagoselectronicos.svc?xsd=xsd0" namespace="HGInetFacturaElectronica.ServiciosWcf" />
      <xsd:import schemaLocation="https://habilitacion.mifacturaenlinea.com.co/wcf/pagoselectronicos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://habilitacion.mifacturaenlinea.com.co/wcf/pagoselectronicos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio.Respuestas" />
      <xsd:import schemaLocation="https://habilitacion.mifacturaenlinea.com.co/wcf/pagoselectronicos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServicioPagosElectronicos_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_ConsultaPorCodigoRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaPorCodigoRegistro" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_ConsultaPorCodigoRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaPorCodigoRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_ConsultaPorCodigoRegistro_Error_FaultMessage">
    <wsdl:part name="detail" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_ConsultaPorFechaElaboracion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaPorFechaElaboracion" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_ConsultaPorFechaElaboracion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaPorFechaElaboracionResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_ConsultaPorFechaElaboracion_Error_FaultMessage">
    <wsdl:part name="detail" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_ActualizarEstadoPago_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoPago" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_ActualizarEstadoPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoPagoResponse" />
  </wsdl:message>
  <wsdl:message name="ServicioPagosElectronicos_ActualizarEstadoPago_Error_FaultMessage">
    <wsdl:part name="detail" element="tns:Error" />
  </wsdl:message>
  <wsdl:portType name="ServicioPagosElectronicos">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioPagosElectronicos/Test" message="tns:ServicioPagosElectronicos_Test_InputMessage" />
      <wsdl:output wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioPagosElectronicos/TestResponse" message="tns:ServicioPagosElectronicos_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaPorCodigoRegistro">
      <wsdl:input wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioPagosElectronicos/ConsultaPorCodigoRegistro" message="tns:ServicioPagosElectronicos_ConsultaPorCodigoRegistro_InputMessage" />
      <wsdl:output wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioPagosElectronicos/ConsultaPorCodigoRegistroResponse" message="tns:ServicioPagosElectronicos_ConsultaPorCodigoRegistro_OutputMessage" />
      <wsdl:fault wsaw:Action="ConsultaPorCodigoRegistro" name="Error" message="tns:ServicioPagosElectronicos_ConsultaPorCodigoRegistro_Error_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaPorFechaElaboracion">
      <wsdl:input wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioPagosElectronicos/ConsultaPorFechaElaboracion" message="tns:ServicioPagosElectronicos_ConsultaPorFechaElaboracion_InputMessage" />
      <wsdl:output wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioPagosElectronicos/ConsultaPorFechaElaboracionResponse" message="tns:ServicioPagosElectronicos_ConsultaPorFechaElaboracion_OutputMessage" />
      <wsdl:fault wsaw:Action="ConsultaPorFechaElaboracion" name="Error" message="tns:ServicioPagosElectronicos_ConsultaPorFechaElaboracion_Error_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoPago">
      <wsdl:input wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioPagosElectronicos/ActualizarEstadoPago" message="tns:ServicioPagosElectronicos_ActualizarEstadoPago_InputMessage" />
      <wsdl:output wsaw:Action="HGInetFacturaElectronica.ServiciosWcf/ServicioPagosElectronicos/ActualizarEstadoPagoResponse" message="tns:ServicioPagosElectronicos_ActualizarEstadoPago_OutputMessage" />
      <wsdl:fault wsaw:Action="ActualizarEstadoPago" name="Error" message="tns:ServicioPagosElectronicos_ActualizarEstadoPago_Error_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>