HGInetFeAPI/Service References/ServicioPagosElectronicos/pagoselectronicos6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio.Respuestas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio.Respuestas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61436/Wcf/pagoselectronicos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" />
  <xs:complexType name="ArrayOfPagoElectronicoRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PagoElectronicoRespuesta" nillable="true" type="tns:PagoElectronicoRespuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPagoElectronicoRespuesta" nillable="true" type="tns:ArrayOfPagoElectronicoRespuesta" />
  <xs:complexType name="PagoElectronicoRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetallesPagos" nillable="true" type="tns:ArrayOfPagoElectronicoRespuestaDetalle" />
      <xs:element minOccurs="0" name="Documento" type="xs:long" />
      <xs:element minOccurs="0" name="DocumentoTipo" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" minOccurs="0" name="Error" nillable="true" type="q1:Error" />
      <xs:element minOccurs="0" name="FechaDocumento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroResolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prefijo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagoElectronicoRespuesta" nillable="true" type="tns:PagoElectronicoRespuesta" />
  <xs:complexType name="ArrayOfPagoElectronicoRespuestaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PagoElectronicoRespuestaDetalle" nillable="true" type="tns:PagoElectronicoRespuestaDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPagoElectronicoRespuestaDetalle" nillable="true" type="tns:ArrayOfPagoElectronicoRespuestaDetalle" />
  <xs:complexType name="PagoElectronicoRespuestaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Franquicia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagoEstado" type="xs:int" />
      <xs:element minOccurs="0" name="PagoEstadoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaCUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagoElectronicoRespuestaDetalle" nillable="true" type="tns:PagoElectronicoRespuestaDetalle" />
  <xs:complexType name="ArrayOfPagoElectronicoRespuestaPorFecha">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PagoElectronicoRespuestaPorFecha" nillable="true" type="tns:PagoElectronicoRespuestaPorFecha" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPagoElectronicoRespuestaPorFecha" nillable="true" type="tns:ArrayOfPagoElectronicoRespuestaPorFecha" />
  <xs:complexType name="PagoElectronicoRespuestaPorFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" type="xs:long" />
      <xs:element minOccurs="0" name="DocumentoTipo" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibreriaGlobalHGInet.Error" minOccurs="0" name="Error" nillable="true" type="q2:Error" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Franquicia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagoEstado" type="xs:int" />
      <xs:element minOccurs="0" name="PagoEstadoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaCUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagoElectronicoRespuestaPorFecha" nillable="true" type="tns:PagoElectronicoRespuestaPorFecha" />
  <xs:complexType name="ArrayOfPagoElectronicoRespuestaAgrupadoPorFecha">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PagoElectronicoRespuestaAgrupadoPorFecha" nillable="true" type="tns:PagoElectronicoRespuestaAgrupadoPorFecha" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPagoElectronicoRespuestaAgrupadoPorFecha" nillable="true" type="tns:ArrayOfPagoElectronicoRespuestaAgrupadoPorFecha" />
  <xs:complexType name="PagoElectronicoRespuestaAgrupadoPorFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciclo" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormaPago" type="xs:int" />
      <xs:element minOccurs="0" name="Pago_Electronico_Respuesta_Por_Fecha" nillable="true" type="tns:ArrayOfPagoElectronicoRespuestaPorFecha" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagoElectronicoRespuestaAgrupadoPorFecha" nillable="true" type="tns:PagoElectronicoRespuestaAgrupadoPorFecha" />
</xs:schema>