HGInetFacturaEServicios/Service References/ServicioReenvioDocumento/reenviodocumento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HGInetMiFacturaElectonicaData.ModeloServicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEnvioDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnvioDocumento" nillable="true" type="tns:EnvioDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnvioDocumento" nillable="true" type="tns:ArrayOfEnvioDocumento" />
  <xs:complexType name="EnvioDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentificacionFacturador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RadicadoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnvioDocumento" nillable="true" type="tns:EnvioDocumento" />
  <xs:complexType name="ArrayOfNotificacionCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotificacionCorreo" nillable="true" type="tns:NotificacionCorreo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotificacionCorreo" nillable="true" type="tns:ArrayOfNotificacionCorreo" />
  <xs:complexType name="NotificacionCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
      <xs:element minOccurs="0" name="IdSeguridad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificacionCorreo" nillable="true" type="tns:NotificacionCorreo" />
</xs:schema>